<p id="notice"><%= notice %></p>

<h1>Heroes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Poster image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heroes.each do |hero| %>
      <tr>
        <td><%= hero.title %></td>
        <td><%= hero.name %></td>
        <td><%= hero.slug %></td>
        <td><%= hero.poster_image %></td>
        <td><%= link_to 'Show', hero %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
