<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hero.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @hero.slug %>
</p>

<p>
  <strong>Poster image:</strong>
  <%= @hero.poster_image %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heroes_path %>
